<div class="row requested-items-grid" style="margin-top: 50px;margin-left: 10cm">
  <div>
    <div class="row">
      <div *ngIf="category === ItemCategory.Clothes" style="width: 10cm">
        <div class="row-cols-lg-auto">
          <div>
            <app-search-bar (searchQuery)="searchQuery1=$event" [thing]="'Age'" class="custom-search-bar"></app-search-bar>
          </div>
          <div>
            <app-search-bar (searchQuery)="searchQuery2=$event" [thing]="'Gender'" class="custom-search-bar"></app-search-bar>
          </div>
          <div>
            <app-search-bar (searchQuery)="searchQuery3=$event" [thing]="'Season'" class="custom-search-bar"></app-search-bar>
          </div>
        </div>
      </div>
      <div *ngIf="category === ItemCategory.Books" style="width: 10cm">

      </div>
      <div *ngIf="category === ItemCategory.SchoolSupplies" style="width: 10cm">
        <div class="row-cols-lg-auto">
          <div>
            <app-search-bar (searchQuery)="searchQuery1=$event" [thing]="'Book title'" class="custom-search-bar"></app-search-bar>
          </div>
          <div>
            <app-search-bar (searchQuery)="searchQuery2=$event" [thing]="'Stationary'" class="custom-search-bar"></app-search-bar>
          </div>
        </div>
      </div>
      <div *ngIf="category === ItemCategory.Toys" style="width: 10cm">
        <div class="row-cols-lg-auto">
          <div>
            <app-search-bar (searchQuery)="searchQuery1=$event" [thing]="'Age'" class="custom-search-bar"></app-search-bar>
          </div>
          <div>
            <app-search-bar (searchQuery)="searchQuery2=$event" [thing]="'Gender'" class="custom-search-bar"></app-search-bar>
          </div>
          <div>
            <app-search-bar (searchQuery)="searchQuery3=$event" [thing]="'Type'" class="custom-search-bar"></app-search-bar>
          </div>
        </div>
      </div>
      <div *ngIf="category === ItemCategory.Food" style="width: 10cm">
        <div class="row-cols-lg-auto">
          <div>
            <app-search-bar (searchQuery)="searchQuery1=$event" [thing]="'Food Category'" class="custom-search-bar"></app-search-bar>
          </div>
        </div>
      </div>
      <div *ngIf="category === ItemCategory.MedicalSupplies" style="width: 10cm" >
        <div class="row-cols-lg-auto">
          <div>
            <app-search-bar (searchQuery)="searchQuery1=$event" [thing]="'Type'" class="custom-search-bar"></app-search-bar>
          </div>
          <div>
            <app-search-bar (searchQuery)="searchQuery2=$event" [thing]="'Medical Use'" class="custom-search-bar"></app-search-bar>
          </div>
        </div>
      </div>
      <div *ngIf="category === ItemCategory.BloodDonation" style="width: 10cm">
        <div class="row-cols-lg-auto">
          <div>
            <app-search-bar (searchQuery)="searchQuery1=$event" [thing]="'Hospital'" class="custom-search-bar"></app-search-bar>
          </div>
          <div>
            <app-search-bar (searchQuery)="searchQuery2=$event" [thing]="'Governorate'" class="custom-search-bar"></app-search-bar>
          </div>
          <div>
            <app-search-bar (searchQuery)="searchQuery3=$event" [thing]="'Area'" class="custom-search-bar"></app-search-bar>
          </div>
        </div>
      </div>
    </div>
      <div class="row" *ngIf="category === ItemCategory.Clothes">
        <div class="col-lg-12">
          <div class="requested-items-grid">
            <div class="row">
              <ng-container *ngFor="let requestedItem of requestedItemsCategory | clothesFilter: { age: searchQuery1, gender: searchQuery2, season: searchQuery3 }; let i = index">
                <div class="col-lg-8 mb-3">
                  <app-requested-item
                    [currentRequestedItem]="requestedItem"
                    [currentRequestedItemId]="requestedItem.id"
                  ></app-requested-item>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
      </div>
    <div class="row" *ngIf="category === ItemCategory.SchoolSupplies">
      <div class="col-lg-12">
        <div class="requested-items-grid">
          <div class="row">
            <ng-container
              *ngFor="let requestedItem of requestedItemsCategory |
                      schoolSuppliesFilter: {filterBooks: searchQuery1 ,filterStationary : searchQuery2};
                      let i = index">
              <div class="col-lg-8 mb-3">
                <app-requested-item
                  [currentRequestedItem]="requestedItem"
                  [currentRequestedItemId]="requestedItem.id"
                ></app-requested-item>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="category === ItemCategory.Toys">
      <div class="col-lg-12">
        <div class="requested-items-grid">
          <div class="row">
            <ng-container
              *ngFor="let requestedItem of requestedItemsCategory |
                      toyFilter: {age: searchQuery1, gender: searchQuery2, category: searchQuery3 };
                      let i = index">
              <div class="col-lg-8 mb-3">
                <app-requested-item
                  [currentRequestedItem]="requestedItem"
                  [currentRequestedItemId]="requestedItem.id"
                ></app-requested-item>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="requested-items-grid">
          <div class="row">
            <ng-container
              *ngFor="let requestedItem of requestedItemsCategory |
                      clothesFilter: { age: searchQuery1, gender: searchQuery2, season: searchQuery3 } |
                      schoolSuppliesFilter: {filterBooks: searchQuery1 ,filterStationary : searchQuery2} |
                      toyFilter: {age: searchQuery1, gender: searchQuery2, category: searchQuery3 } |
                      foodFilter: searchQuery1 |
                      medicalSupplyFilter: {type : searchQuery1 , medicalUse : searchQuery2} |
                      bloodDonationFilter: {hospital: searchQuery1, governorate: searchQuery2, area: searchQuery3};
                      let i = index">
              <div class="col-lg-8 mb-3">
                <app-requested-item
                  [currentRequestedItem]="requestedItem"
                  [currentRequestedItemId]="requestedItem.id"
                ></app-requested-item>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="requested-items-grid">
          <div class="row">
            <ng-container
              *ngFor="let requestedItem of requestedItemsCategory |
                      clothesFilter: { age: searchQuery1, gender: searchQuery2, season: searchQuery3 } |
                      schoolSuppliesFilter: {filterBooks: searchQuery1 ,filterStationary : searchQuery2} |
                      toyFilter: {age: searchQuery1, gender: searchQuery2, category: searchQuery3 } |
                      foodFilter: searchQuery1 |
                      medicalSupplyFilter: {type : searchQuery1 , medicalUse : searchQuery2} |
                      bloodDonationFilter: {hospital: searchQuery1, governorate: searchQuery2, area: searchQuery3};
                      let i = index">
              <div class="col-lg-8 mb-3">
                <app-requested-item
                  [currentRequestedItem]="requestedItem"
                  [currentRequestedItemId]="requestedItem.id"
                ></app-requested-item>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="requested-items-grid">
          <div class="row">
            <ng-container
              *ngFor="let requestedItem of requestedItemsCategory |
                      clothesFilter: { age: searchQuery1, gender: searchQuery2, season: searchQuery3 } |
                      schoolSuppliesFilter: {filterBooks: searchQuery1 ,filterStationary : searchQuery2} |
                      toyFilter: {age: searchQuery1, gender: searchQuery2, category: searchQuery3 } |
                      foodFilter: searchQuery1 |
                      medicalSupplyFilter: {type : searchQuery1 , medicalUse : searchQuery2} |
                      bloodDonationFilter: {hospital: searchQuery1, governorate: searchQuery2, area: searchQuery3};
                      let i = index">
              <div class="col-lg-8 mb-3">
                <app-requested-item
                  [currentRequestedItem]="requestedItem"
                  [currentRequestedItemId]="requestedItem.id"
                ></app-requested-item>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="requested-items-grid">
          <div class="row">
            <ng-container
              *ngFor="let requestedItem of requestedItemsCategory |
                      clothesFilter: { age: searchQuery1, gender: searchQuery2, season: searchQuery3 } |
                      schoolSuppliesFilter: {filterBooks: searchQuery1 ,filterStationary : searchQuery2} |
                      toyFilter: {age: searchQuery1, gender: searchQuery2, category: searchQuery3 } |
                      foodFilter: searchQuery1 |
                      medicalSupplyFilter: {type : searchQuery1 , medicalUse : searchQuery2} |
                      bloodDonationFilter: {hospital: searchQuery1, governorate: searchQuery2, area: searchQuery3};
                      let i = index">
              <div class="col-lg-8 mb-3">
                <app-requested-item
                  [currentRequestedItem]="requestedItem"
                  [currentRequestedItemId]="requestedItem.id"
                ></app-requested-item>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
