<section class="login-clean login-clean-wide rounded-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="donorSignupForm" (ngSubmit)="submitDonorSignupInfo()" class="rounded-form">
          <h2 class="text-center form-title">Donor Signup</h2>
          <div class="form-group"  >
            <div class="row-cols-2">
              <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">First Name</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control" >
              <div *ngIf="donorSignupForm.get('firstName').invalid && donorSignupForm.get('firstName').touched" class="text-danger">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-top: 10px;">
            <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Last Name</label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control">
            <div *ngIf="donorSignupForm.get('lastName').invalid && donorSignupForm.get('lastName').touched" class="text-danger">
              Last Name is required
            </div>
          </div>
          <div class="form-group" style="margin-top: 10px;">
            <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">User Name</label>
            <input type="text" id="userName" formControlName="userName" class="form-control" >
            <div *ngIf="donorSignupForm.get('userName').invalid && donorSignupForm.get('userName').touched" class="text-danger">
              User Name is required
            </div>
          </div>
            <div class="form-group" style="margin-top: 10px;">
              <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Gender</label>
              <select id="gender" formControlName="gender" class="form-control">
                <option value="" disabled selected style="color: #333;">Select your gender</option>
                <option value="male" style="color: #333;">Male</option>
                <option value="female" style="color: #333;">Female</option>
              </select>
              <div *ngIf="donorSignupForm.get('gender').invalid && donorSignupForm.get('gender').touched" class="text-danger">
                Gender is required
              </div>
            </div>
            <div class="form-group "style="margin-top: 10px;">
              <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Email</label>
              <input type="email" id="email" formControlName="email" class="form-control" >
              <div *ngIf="donorSignupForm.get('email').invalid && donorSignupForm.get('email').touched" class="text-danger">
                Valid email is required
              </div>
            </div>
            <div class="form-group "style="margin-top: 10px;">
              <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Phone Number</label>
              <input type="text" id="contactNumber" formControlName="contactNumber" class="form-control" >
              <div *ngIf="donorSignupForm.get('contactNumber').invalid && donorSignupForm.get('contactNumber').touched" class="text-danger">
                Contact Number is required
              </div>
            <div class="form-group "style="margin-top: 10px;">
              <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control" >
              <div *ngIf="donorSignupForm.get('password').invalid && donorSignupForm.get('password').touched" class="text-danger">
                Password is min 6 characters
              </div>
            </div>
          </div>
            <div class="form-group "style="margin-top: 10px;">
              <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Address</label>
              <input type="text" id="address" formControlName="address" class="form-control">
              <div *ngIf="donorSignupForm.get('address').invalid && donorSignupForm.get('address').touched" class="text-danger">
                Address is required
              </div>
            </div>
            <div class="form-group "style="margin-top: 10px;">
              <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Area</label>
              <input type="text" id="area" formControlName="area" class="form-control">
              <div *ngIf="donorSignupForm.get('area').invalid && donorSignupForm.get('area').touched" class="text-danger">
                Area is required
              </div>
            </div>
            <div class="form-group "style="margin-top: 10px;">
              <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Governorate</label>
              <input type="text" id="governorate" formControlName="governorate" class="form-control" >
              <div *ngIf="donorSignupForm.get('governorate').invalid && donorSignupForm.get('governorate').touched" class="text-danger">
                Governorate is required
              </div>
            </div>
            <div class="form-group "style="margin-top: 10px;">
              <div class="radio-group">
                <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Role</label>
                <div class="row">
                  <div class="col-md-3" style="margin-right: auto">
                    <label class="radio-label">
                      <input type="radio" name="role" value="donor" (change)="selectRole('donor')" [checked]="selectedRole === 'donor'">
                      Donor
                    </label>
                  </div>
                  <div class="col-md-3" style="margin-right: auto">
                    <label class="radio-label">
                      <input type="radio" name="role" value="doctor" (change)="selectRole('doctor')" [checked]="selectedRole === 'doctor'">
                      Doctor
                    </label>
                  </div>
                  <div class="col-md-3" style="margin-right: auto">
                    <label class="radio-label">
                      <input type="radio" name="role" value="teacher" (change)="selectRole('teacher')" [checked]="selectedRole === 'teacher'">
                      Teacher
                    </label>
                  </div>
                </div>
              </div>
            </div>
          <div *ngIf="selectedRole === 'doctor'">
            <section class=" rounded-form">
              <div formGroupName="doctorData">
                <div class="form-group"style="margin-top: 10px;">
                  <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Clinic Address</label>
                  <div class="form-group mb-3">
                    <input type="text" class="form-control" id="clinicAddress" formControlName="clinicAddress">
                  </div>
                  <div *ngIf="donorSignupForm.get('doctorData').get('clinicAddress').invalid && donorSignupForm.get('doctorData').get('clinicAddress').touched" class="text-danger">
                    Clinic Address is required
                  </div>
                </div>
                <div class="form-group"style="margin-top: 10px;">
                  <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Clinic Area</label>
                  <div class="form-group mb-3">
                    <input type="text" class="form-control" id="clinicArea" formControlName="clinicArea">
                  </div>
                  <div *ngIf="donorSignupForm.get('doctorData').get('clinicArea').invalid && donorSignupForm.get('doctorData').get('clinicArea').touched" class="text-danger">
                    Clinic Area is required
                  </div>
                </div>
                <div class="form-group"style="margin-top: 10px;">
                  <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Clinic Governorate</label>
                  <div class="form-group mb-3">
                    <input type="text" class="form-control" id="clinicGovernorate" formControlName="clinicGovernorate">
                  </div>
                  <div *ngIf="donorSignupForm.get('doctorData').get('clinicGovernorate').invalid && donorSignupForm.get('doctorData').get('clinicGovernorate').touched" class="text-danger">
                    Clinic Governorate is required
                  </div>
                </div>
                <div class="form-group"style="margin-top: 10px;">
                  <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Specialty</label>
                  <div class="form-group mb-3">
                    <input type="text" class="form-control" id="specialty" formControlName="specialty">
                  </div>
                  <div *ngIf="donorSignupForm.get('doctorData').get('specialty').invalid && donorSignupForm.get('doctorData').get('specialty').touched" class="text-danger">
                    Specialty is required
                  </div>
                </div>
                <div class="form-group"style="margin-top: 10px;">
                  <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Pro-bono Cases</label>
                  <div class="form-group mb-3">
                    <input type="number" class="form-control" id="proBonoCases" formControlName="proBonoCases">
                  </div>
                  <div *ngIf="donorSignupForm.get('doctorData').get('proBonoCases').invalid && donorSignupForm.get('doctorData').get('proBonoCases').touched" class="text-danger">
                    Pro-bono Cases is required and must be a positive number
                  </div>
                </div>
                <div class="form-group"style="margin-top: 10px;">
                  <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Doctor Licence</label>
                  <app-file-upload></app-file-upload>
                </div>
              </div>
              <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">pick your location</label>
              <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27234.98975177588!2d31.679096267413343!3d31.431376936381074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1715532964228!5m2!1sen!2seg" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
          </div>
          <div *ngIf="selectedRole === 'teacher'">
            <section class="rounded-form">
               <div formGroupName="teacherData">
                  <div class="form-group"style="margin-top: 10px;">
                    <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Subjects</label>
                    <div class="form-group mb-3">
                      <input type="text" class="form-control" id="subjects" formControlName="subjects">
                    </div>
                    <div *ngIf="donorSignupForm.get('teacherData').get('subjects').invalid && donorSignupForm.get('teacherData').get('subjects').touched" class="text-danger">
                      Subjects are required
                    </div>
                  </div>
                  <div class="form-group"style="margin-top: 10px;">
                    <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Pro-bono Classes</label>
                    <div class="form-group mb-3">
                      <input type="number" class="form-control" id="proBonoClasses" formControlName="proBonoClasses">
                    </div>
                    <div *ngIf="donorSignupForm.get('teacherData').get('proBonoClasses').invalid && donorSignupForm.get('teacherData').get('proBonoClasses').touched" class="text-danger">
                      number of Classes must be a positive number
                    </div>
                  </div>
                  <!-- Pro-bono students -->
                  <div class="form-group"style="margin-top: 10px;">
                    <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Pro-bono Students</label>
                    <div class="form-group mb-3">
                      <input type="number" class="form-control" id="proBonoStudents" formControlName="proBonoStudents">
                    </div>
                    <div *ngIf="donorSignupForm.get('teacherData').get('proBonoStudents').invalid && donorSignupForm.get('teacherData').get('proBonoStudents').touched" class="text-danger">
                      number of Students must be a positive number
                    </div>
                  </div>
                 <div class="form-group"style="margin-top: 10px;">
                   <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px;">Teacher Licence</label>
                    <app-file-upload></app-file-upload>
                  </div>
               </div>
              <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27234.98975177588!2d31.679096267413343!3d31.431376936381074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1715532964228!5m2!1sen!2seg" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!donorSignupForm.valid">Signup</button>
        </form>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="assets/istockphoto-1063346420-612x612.jpg" alt="Your Photo" class="img-fluid rounded-circle" style="max-width: 300px; height: auto;">
      </div>
    </div>
  </div>
</section>
