.login-clean.login-clean-wide {
  padding: 80px 0;
  background: #043B38; /* Dark Teal */
}

.login-clean.login-clean-wide form {
  max-width: 800px; /* Adjust according to your preference */
  width: 90%;
  margin: 0 auto;
  background-color: #AFF0F2; /* Light Cyan */
  padding: 40px;
  border-radius: 20px;
  color: #1C9B8E; /* Dark Cyan */
  box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

/* Other styles remain the same */

@media (max-width: 768px) {
  .login-clean.login-clean-wide form {
    max-width: 90%;
  }
}





.login-clean {
  background: #043B38; /* Dark Teal */
  padding: 80px 0;
}

.login-clean form {
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  background-color: #AFF0F2; /* Light Cyan */
  padding: 40px;
  border-radius: 20px;
  color: #1C9B8E; /* Dark Cyan */
  box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 80px; /* Slightly reduced size */
  color: #30D9C8; /* Bright Cyan */
}

.login-clean form .form-control {
  background: #AFF0F2; /* Light Cyan */
  border: none;
  border-bottom: 2px solid #30D9C8; /* Bright Cyan */
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

.login-clean form .btn-primary {
  background: #0a3622; /* Bright Cyan */
  border: none;
  border-radius: 4px;
  padding: 10px 20px; /* Reduced padding */
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #043B38; /* Dark Teal */
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}

.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #1C9B8E; /* Dark Cyan */
  opacity: 0.9;
  text-decoration: none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border-radius: 0 !important;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border-radius: 8px !important;
}

/* Radio button styles */
.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: #043B38; /* Dark Teal */
}

.radio-label input[type="radio"] {
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #043B38; /* Dark Teal */
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

.radio-label input[type="radio"]:checked {
  background-color: #043B38; /* Dark Teal */
  background-size: 100px;
}

.radio-label input[type="radio"]:checked::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F7F9FA; /* Light Grayish Cyan */
  margin: 3px;
}

.radio-label:hover input[type="radio"] {
  border-color: #1C9B8E; /* Dark Cyan */
}

.btn-primary:hover {
  color: #fff;
  background-color: #1C9B8E; /* Dark Cyan */
  border-color: #1C9B8E; /* Dark Cyan */
  box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1C9B8E; /* Dark Cyan */
  border-color: #1C9B8E; /* Dark Cyan */
}

.rounded-image {
  border-radius: 20px; /* Adjust the value to control the roundness of the corners */
}


.rounded-form {
  border-radius: 10px; /* Adjust the value to control the roundness of the corners */
}

*, ::after, ::before {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .login-clean form {
    max-width: 100%;
  }
}
