<section class="login-clean login-clean-wide rounded-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="OgSignupForm" (ngSubmit)="submitDonorSignupInfo()" class="rounded-form">
          <h2 class="text-center form-title">Donor Signup</h2>
          <div class="form-group">
            <div class="row-cols-2">
              <label for="firstName" style="color: #333;">First Name:</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="Enter your first name">
              <div *ngIf="donorSignupForm.get('firstName').invalid && donorSignupForm.get('firstName').touched" class="text-danger">
                First Name is required
              </div>
            </div>

          </div>
          <div class="form-group">
            <label for="lastName" style="color: #333;">Last Name:</label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Enter your last name">
            <div *ngIf="donorSignupForm.get('lastName').invalid && donorSignupForm.get('lastName').touched" class="text-danger">
              Last Name is required
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="gender" style="color:
              #0a3622;">Gender:</label>
              <select id="gender" formControlName="gender" class="form-control">
                <option value="" disabled selected>Select your gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              <div *ngIf="donorSignupForm.get('gender').invalid && donorSignupForm.get('gender').touched" class="text-danger">
                Gender is required
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="email" style="color:
              #0a3622;">Email:</label>
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
              <div *ngIf="donorSignupForm.get('email').invalid && donorSignupForm.get('email').touched" class="text-danger">
                Valid email is required
              </div>
            </div>
          </div>

          <!-- Other form fields (contactNumber, password, address, area, governorate) go here -->

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="contactNumber" style="color:
              #0a3622;">Contact Number:</label>
              <input type="text" id="contactNumber" formControlName="contactNumber" class="form-control" placeholder="Enter your contact number">
              <div *ngIf="donorSignupForm.get('contactNumber').invalid && donorSignupForm.get('contactNumber').touched" class="text-danger">
                Contact Number is required
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="password" style="color:
              #0a3622;">Password:</label>
              <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password">
              <div *ngIf="donorSignupForm.get('password').invalid && donorSignupForm.get('password').touched" class="text-danger">
                Password is required
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="address" style="color:
              #0a3622;">Address:</label>
              <input type="text" id="address" formControlName="address" class="form-control" placeholder="Enter your address">
              <div *ngIf="donorSignupForm.get('address').invalid && donorSignupForm.get('address').touched" class="text-danger">
                Address is required
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="area" style="color:
              #0a3622;">Area:</label>
              <input type="text" id="area" formControlName="area" class="form-control" placeholder="Enter your area">
              <div *ngIf="donorSignupForm.get('area').invalid && donorSignupForm.get('area').touched" class="text-danger">
                Area is required
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="governorate" style="color:
              #0a3622;">Governorate:</label>
              <input type="text" id="governorate" formControlName="governorate" class="form-control" placeholder="Enter your governorate">
              <div *ngIf="donorSignupForm.get('governorate').invalid && donorSignupForm.get('governorate').touched" class="text-danger">
                Governorate is required
              </div>
            </div>
            <div class="form-group col-md-6">
              <!-- i want to make them beside each other -->
              <div class="radio-group">
                <label style="color:#0a3622;">Role:</label>
                <div class="row">
                  <div class="col-md-3" style="margin-right: auto">
                    <label class="radio-label">
                      <input type="radio" name="role" value="donor" (change)="selectRole('donor')" [checked]="selectedRole === 'donor'">
                      Donor
                    </label>
                  </div>
                  <div class="col-md-3" style="margin-right: auto">
                    <label class="radio-label">
                      <input type="radio" name="role" value="doctor" (change)="selectRole('doctor')" [checked]="selectedRole === 'doctor'">
                      Doctor
                    </label>
                  </div>
                  <div class="col-md-3" style="margin-right: auto">
                    <label class="radio-label">
                      <input type="radio" name="role" value="teacher" (change)="selectRole('teacher')" [checked]="selectedRole === 'teacher'">
                      Teacher
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="selectedRole === 'doctor'">
            <app-doctor-signup></app-doctor-signup>
          </div>
          <div *ngIf="selectedRole === 'teacher'">
            <app-teacher-signup></app-teacher-signup>
          </div>
          <button type="submit" class="btn btn-primary">Signup</button>
        </form>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="assets/istockphoto-1063346420-612x612.jpg" alt="Your Photo" class="img-fluid rounded-circle" style="max-width: 300px; height: auto;">
      </div>
    </div>
  </div>

</section>
