.requested-items-grid {
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); !* Set the grid to have a minimum width of 350px and take up the available space *!*/
  gap: inherit; /* Add some gap between grid items */
}
.card{
  margin-bottom: 1rem;
  border-radius: 20px;
  background-color: #AFF0F2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease; /* Add transition for smooth effect */
}
.card:hover {
  transform: scale(1.05); /* Increase the size of the card on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Add a larger shadow on hover */
  background-color: #E0F8F9; /* Change the background color on hover */
}

.requested-items-grid > div {
  margin-bottom: 20px; /* Add some bottom margin to each item */
}

/* Style the <a> tag */
.requested-items-grid app-requested-item a {
  width: 100%;
  display: block; /* Change to block level to take up the full width */
  padding: 20px; /* Increase padding for better spacing */
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 8px; /* Make the corners slightly rounded */
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; /* Center the text */
}


/* Hover effect */
.requested-items-grid app-requested-item a:hover {
  background-color: #45a049;
}
.requested-items-grid {
  animation: slideIn 2s ease forwards;

}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}