





<div class="row" >
  <div class="row-cols-lg-auto">
    <div class="row" style="margin-bottom: 20px; max-width: 400px; margin-left: 450px;border-radius: 15px; margin-top: 20px;">
      <div class="col-lg-12 text-center">
        <app-search-bar (searchQuery)="searchQuery = $event" [thing]="'Category'"></app-search-bar>
      </div>
    </div>
    <div class="row text-center requested-items-grid"
    style="background-color: #eee; border-radius: 20px; max-width: 900px; max-height: 900px; margin-left: 300px;">
      <div class="col-lg-10 offset-lg-1"> <!-- Center content with offset -->
        <div class="requested-items-grid">
          <div class="row">
            <ng-container *ngFor="let requestedItem of requestedItems | categoryFilter: searchQuery; let i = index">
              <div class="col-lg-4 mb-3"> <!-- Three items per row with margin bottom -->
                <app-requested-item
                  [currentRequestedItem]="requestedItem"
                  [currentRequestedItemId]="requestedItem.id"
                  style="width: 100%;"
                ></app-requested-item>
              </div>
            </ng-container>
          </div>
          <div *ngIf="isFilteredEmpty">
            <div class="card">
              <div class="card-body">
                No organizations found.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
