<div class="container rounded-form">
  <div class="row"style="width: 10cm">
    <div class="align-items-md-start">
      <div class="requested-item-container">
        <a
          [routerLink]="['/teaching-posts','teaching-post-details', currentTeachingPostId]"
          routerLinkActive="active"
          class="list-group-item clearfix"
          style="cursor: pointer;">
          <h2>Organization:{{currentTeachingPost.organization}}</h2>
          <h2>Subject:{{currentTeachingPost.subject}}</h2>
          <h3 class="text-muted">Requested At: {{currentTeachingPost.date}}</h3>
          <p class="text-muted">Address: {{currentTeachingPost.address}}</p>
        </a>
      </div>
    </div>
  </div>
</div>
