<div class="container rounded-form">
  <div class="row" style="width: 10cm">
    <div class="align-items-md-start">
      <div class="requested-item-container">
        <a [routerLink]="['/medical-cases', 'medical-case-details', currentMedicalCaseId]"
           routerLinkActive="active"
           class="list-group-item clearfix"
           style="cursor: pointer;">
          <h2>Organization: {{ currentMedicalCase.organizationName }}</h2>
          <h2>Specialty: {{ currentMedicalCase.medicalSpecialty }}</h2>
          <h3 class="text-muted">Date: {{ currentMedicalCase.date }}</h3>
          <h3 class="text-muted">Location: {{ currentMedicalCase.location }}</h3>
        </a>
      </div>
    </div>
  </div>
</div>
