/* navbar.component.css */
.navbar {
  background: linear-gradient(101deg, #043b38 0%, #30d9c8), rgb(17, 124, 88);
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
}
.nav-link.logout {
  background-color: #144c4a;
  border-radius: 10px;
}
.nav-link:hover {
  color: #22b6a7; /* Change text color on hover */
  background-color: #043B38; /* Change background color on hover */
  border-radius: 10px;
}







