.apple.logo {
  font-size: 20px;
  line-height: 0;
}
.navbar{
  background: linear-gradient(101deg, #043b38 0%, #30d9c8), rgb(17, 124, 88);
  width: 1475px;
}
.nav-link{
  color: white !important;
  font-size: 10px;
  margin-left: 5px;
}

.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: black !important;
  opacity: 0.8;
}

#brand-logo {
  font-size: 10px;
}

#app-navbar {

}

#brand-logo {
  font-size: 30px;
}

#app-navbar {

}

.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

/* Style the dropdown toggle */
.nav-link.dropdown-toggle {
  color: #333;
  font-weight: bold;
}

/* Style the dropdown menu items */
.dropdown-menu {
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: #333;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

/* Style the dropdown menu items */
.dropdown-menu {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: #333;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

/* Add hovering effect */
.dropdown-item:hover {
  background-color: #22b6a7; /* Change background color on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}
.active-link {
  color: #20c997; /* Change the color to your desired color */
  font-weight: bold; /* Optionally, apply additional styles */
  box-shadow:0 2px 5px rgba(0, 0, 0.6, 0.1); ;
}
/* Style the dropdown caret icon */
.dropdown-toggle .fa-caret-down {
  transition: transform 0.3s ease;
}

.dropdown-toggle:hover .fa-caret-down {
  transform: rotate(180deg);
}



