<div class="row-cols-lg-auto">
  <div style="margin-left: 20px; margin-right: -20px;">
    <app-search-bar (searchQuery)="searchQuery1=$event" [thing]="''" class="custom-search-bar"></app-search-bar>
  </div>
  <div style="margin-left: -280px; margin-right: 280px; margin-top: -54px;">
    <app-search-bar (searchQuery)="searchQuery2=$event" [thing]="'Gender'" class="custom-search-bar"></app-search-bar>
  </div>
  <div style="margin-left: 320px; margin-right: -320px; margin-top: -54px;">
    <app-search-bar (searchQuery)="searchQuery3=$event" [thing]="'Season'" class="custom-search-bar"></app-search-bar>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="requested-items-grid">
      <div class="row">
        <ng-container
          *ngFor="let requestedItem of requestedItemsCategory |
                      bookFilter : searchQuery1 : searchQuery2:searchQuery3
                      let i = index">
          <div class="col-lg-8 mb-3">
            <app-requested-item
              [currentRequestedItem]="requestedItem"
              [currentRequestedItemId]="requestedItem.id"
            ></app-requested-item>
          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="isFilteredEmpty">
      <div class="card">
        <div class="card-body">
          No Books found.
        </div>
      </div>
    </div>
  </div>
</div>
