<div class="container" id="container0">
  <!-- Search bar container -->
  <div class="search-container mb-3">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by Donor name" class="form-control search-input">
  </div>

  <!-- Organizations list -->
  <div class="row">
    <div class="col-md-4" *ngFor="let Donor of Donors | donorFilterPipe: searchTerm ; let i = index">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ Donor.name }}</strong></h5>
          <p class="card-text"><b>Address: </b>{{ Donor.address }}</p>
          <p class="card-text"><b>Phone number:</b> {{ Donor.phoneNumber }}</p>
          <!-- Add more details as needed -->
          <a (click)="deleteDonor(i)" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <!-- No organizations found message -->
  <div *ngIf="isFilteredEmpty">
    <div class="card">
      <div class="card-body">
        No Donors found.
      </div>
    </div>
  </div>
</div>
