<div class="container py-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card rounded-3 shadow-lg request-card">
        <div class="card-body">
          <h2 class="card-title mb-3">{{ currentMedicalCase.organizationName }}</h2>
          <p class="card-text"><strong>Requested At:</strong> {{ currentMedicalCase.date }}</p>
          <p class="card-text"><strong>Patient Name:</strong> {{ currentMedicalCase.patientName }}</p>
          <p class="card-text"><strong>Age:</strong> {{ currentMedicalCase.age }}</p>
          <p class="card-text"><strong>Gender:</strong> {{ currentMedicalCase.gender }}</p>
          <p class="card-text"><strong>Weight:</strong> {{ currentMedicalCase.weight }}</p>
          <p class="card-text"><strong>Location:</strong> {{ currentMedicalCase.location }}</p>
          <p class="card-text"><strong>Address:</strong> {{ currentMedicalCase.address }}</p>
          <p class="card-text"><strong>Medical Specialty:</strong> {{ currentMedicalCase.medicalSpecialty }}</p>
          <p class="card-text"><strong>Area:</strong> {{ currentMedicalCase.area }}</p>
          <p class="card-text"><strong>Governorate:</strong> {{ currentMedicalCase.governorate }}</p>
          <p class="card-text"><strong>Description:</strong> {{ currentMedicalCase.description }}</p>
          <div class="quantity-selection" style="margin-top: 1cm; margin-left: 3cm;">
            <button (click)="submitDonation()" class="button" style="margin-left: 5px">Let's Fulfill</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
