#container0 {
  background-color: #ffffff;
  border-radius: 40px;
  padding: 1.5rem;
  margin-top: 4rem;
  text-align: center;
}

.custom-search-card {
  /* Add specific styles for the search bar card */
  background-color: #f0f0f0;
  /* Add any other custom styles */
}

.custom-search-card .form-control {
  /* Add styles for the input field inside the search bar card */
  border-color: #ced4da;
  /* Add any other custom styles */
}

.custom-search-card .input-group-text {
  /* Add styles for the search icon inside the search bar card */
  color: #6c757d;
  /* Add any other custom styles */
}

.card {
  margin-bottom: 1rem;
  border-radius: 20px;
  background-color: #AFF0F2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

.card:hover {
  transform: scale(1.05); /* Increase the size of the card on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Add a larger shadow on hover */
  background-color: #E0F8F9; /* Change the background color on hover */
}

.search-container {
  max-width: 300px;
  margin-left: 450px;
  border-radius: 40px;
}

.search-input {
  /* Remove border radius on input field */
  /* Remove border radius on input field */
  border-radius:  20px;
}

.input-group-text {
  background-color: transparent; /* Make the background of the icon transparent */
  border-top-left-radius: 0; /* Remove border radius on icon container */
  border-bottom-left-radius: 0; /* Remove border radius on icon container */
}

.card-title {
  margin-bottom: 0.5rem;
}

.btn-primary {
  color: #fff;
  background-color: #2eff00;
  border-color: #ff0000;
}
