<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Organization Details</title>
</head>
<body>
<div class="container" id="container0" style="margin-top: 20px">
  <div class="card rounded">
    <h1 class="card-header">Donor submission Details</h1>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Donor Name: </label>
            <p class="form-control-plaintext" id="orgName">{{Submission.Donor.name}}</p>
          </div>
          <div class="mb-3">
            <label class="form-label">item Name: </label>
            <p class="form-control-plaintext">{{Submission.DonationItem.name}}</p>
          </div>

          <div class="mb-3">
            <label class="form-label">item category: </label>
            <p class="form-control-plaintext">{{Submission.DonationItem.category}}</p>
          </div>
          <div class="mb-3">
            <label class="form-label">item status: </label>
            <p class="form-control-plaintext">{{Submission.DonationItem.status}}</p>
          </div>
          <div class="mb-3">
            <label class="form-label">item quantity: </label>
            <p class="form-control-plaintext">{{Submission.DonationItem.quantity}}</p>
          </div>
          <div class="mb-3">
            <label class="form-label">item location: </label>
            <p class="form-control-plaintext">{{Submission.DonationItem.location}}</p>
          </div>
        </div>
        <div class="col-md-6"> <!-- Added this column for the donor submission details -->
          <div class="mb-3">
            <label class="form-label">item description: </label>
            <p class="form-control-plaintext">{{Submission.DonationItem.description}}</p>
          </div>

          <div class="card rounded representative">
            <div class="card-header">Donor details</div>
            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">Donor name: </label>
                <p class="form-control-plaintext">{{Submission.Donor.name}}</p>
              </div>
              <div class="mb-3">
                <label class="form-label">item email: </label>
                <p class="form-control-plaintext">{{Submission.Donor.email}}</p>
              </div>

              <div class="mb-3">
                <label class="form-label">phone number: </label>
                <p class="form-control-plaintext">{{Submission.Donor.phoneNumber}}</p>
              </div>
              <div class="mb-3">
                <label class="form-label">gender: </label>
                <p class="form-control-plaintext">{{Submission.Donor.gender}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


