
<div class=" request-card">
    <p class="card-text custom-p"><strong>Patient Name: </strong>{{bloodDonation.patientName}}</p>
    <p class="card-text custom-p"><strong>Blood Type:</strong> {{bloodDonation.bloodType}}</p>
    <p class="card-text custom-p"><strong>Hospital Name:</strong> {{bloodDonation.hospitalName}}</p>
    <p class="card-text custom-p"><strong>Hospital Area:</strong> {{bloodDonation.hospitalArea}}</p>
    <p class="card-text custom-p"><strong>Governorate:</strong> {{bloodDonation.governorate}}</p>
    <p class="card-text custom-p"><strong>Hospital Address:</strong> {{bloodDonation.hospitalAddress}}</p>
</div>
