<div class="container" id="container0">
  <!-- Search bar container -->
  <div class="search-container mb-3">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by organization name"
           class="form-control search-input">
  </div>

  <button class="dropdown-toggle nav-link" (click)="toggleFilterDropdown()"
                style="margin-left: 300px;margin-bottom: 150px; background-color: aliceblue; border-radius: 5px;">Filter</button>
            <div class="dropdown-menu" [ngClass]="{ 'show': filterDropdownOpen }"
            *ngFor="let organization of Organizations | organizationFilterPipe : searchTerm; let i = index" 
            style="margin-left: 270px;margin-bottom: 150px;margin-top: -150px;">
              <button class="dropdown-item" (click)="NavigateToOrganizationDetails(i)">{{ organization.address }} </button>
            </div>
  <!-- Organizations list -->
  <div class="row">
    <div class="col-md-4"
         *ngFor="let organization of Organizations | organizationFilterPipe: searchTerm ; let i = index">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ organization.name }}</strong></h5>
          <p class="card-text"><b>Type:</b> {{ organization.type }}</p>
          <p class="card-text"><b>Address:</b> {{ organization.address }}</p>
          <!-- Add more details as needed -->
          <div class="button-row">
            <a (click)="deleteOrganization(i)" class="btn btn-primary">Delete</a>
            <a (click)="NavigateToOrganizationDetails(i)" class="btn btn-primary-view">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- No organizations found message -->
  <div *ngIf="isFilteredEmpty">
    <div class="card">
      <div class="card-body">
        No organizations found.
      </div>
    </div>
  </div>
</div>

