<section class="login-clean login-clean-wide rounded-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="OrganizationSignupForm" (ngSubmit)="submitOrgnanizationSignupInfo()" class="rounded-form">
          <h2 class="text-center form-title">Organization Signup</h2>
          <div class="form-group">
            <div class="row-cols-2">
              <label for="firstName" style="color: #333;">First Name:</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control"
                     placeholder="Enter your first name">
              <div
                *ngIf="OrganizationSignupForm.get('firstName').invalid && OrganizationSignupForm.get('firstName').touched"
                class="text-danger">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" style="color: #333;">Last Name:</label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control"
                   placeholder="Enter your last name">
            <div
              *ngIf="OrganizationSignupForm.get('lastName').invalid && OrganizationSignupForm.get('lastName').touched"
              class="text-danger">
              Last Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="gender" style="color:
              #0a3622;">Gender:</label>
            <select id="gender" formControlName="gender" class="form-control">
              <option value="" disabled selected style="color: #333;">Select your gender</option>
              <option value="male" style="color: #333;">Male</option>
              <option value="female" style="color: #333;">Female</option>
            </select>
            <div *ngIf="OrganizationSignupForm.get('gender').invalid && OrganizationSignupForm.get('gender').touched"
                 class="text-danger">
              Gender is required
            </div>
          </div>
          <div class="form-group ">
            <label for="email" style="color:
              #0a3622;">Email:</label>
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
            <div *ngIf="OrganizationSignupForm.get('email').invalid && OrganizationSignupForm.get('email').touched"
                 class="text-danger">
              Valid email is required
            </div>
          </div>
          <div class="form-group ">
            <label for="contactNumber" style="color:
              #0a3622;">Contact Number:</label>
            <input type="text" id="contactNumber" formControlName="contactNumber" class="form-control"
                   placeholder="Enter your contact number">
            <div
              *ngIf="OrganizationSignupForm.get('contactNumber').invalid && OrganizationSignupForm.get('contactNumber').touched"
              class="text-danger">
              Contact Number is required
            </div>
            <div class="form-group ">
              <label for="password" style="color:
              #0a3622;">Password:</label>
              <input type="password" id="password" formControlName="password" class="form-control"
                     placeholder="Enter your password">
              <div
                *ngIf="OrganizationSignupForm.get('password').invalid && OrganizationSignupForm.get('password').touched"
                class="text-danger">
                Enter a valid password
              </div>
            </div>
          </div>


          <div class="form-group ">
            <label for="address" style="color:
              #0a3622;">Name:</label>
            <input type="text" formControlName="OrganizationName" class="form-control" placeholder="Enter your address">
            <div
              *ngIf="OrganizationSignupForm.get('OrganizationName').invalid && OrganizationSignupForm.get('OrganizationName').touched"
              class="text-danger">
              name is required
            </div>
          </div>

          <div class="form-group ">
            <label for="address" style="color:
              #0a3622;">Type:</label>
            <input type="text" formControlName="OrganizationType" class="form-control" placeholder="Enter Organization type">
            <div
              *ngIf="OrganizationSignupForm.get('OrganizationType').invalid && OrganizationSignupForm.get('OrganizationType').touched"
              class="text-danger">
              Type is required
            </div>
          </div>

          <div class="form-group ">
            <label for="address" style="color:
              #0a3622;">Address:</label>
            <input type="text" id="address" formControlName="OrganizationAddress" class="form-control"
                   placeholder="Enter Organization address">
            <div
              *ngIf="OrganizationSignupForm.get('OrganizationAddress').invalid && OrganizationSignupForm.get('OrganizationAddress').touched"
              class="text-danger">
              Address is required
            </div>
          </div>
          <div class="form-group ">
            <label for="area" style="color:
              #0a3622;">Area:</label>
            <input type="text" id="area" formControlName="OrganizationArea" class="form-control"
                   placeholder="Enter Organization area">
            <div
              *ngIf="OrganizationSignupForm.get('OrganizationArea').invalid && OrganizationSignupForm.get('OrganizationArea').touched"
              class="text-danger">
              Area is required
            </div>
          </div>
          <div class="form-group ">
            <label for="governorate" style="color:
              #0a3622;">Governorate:</label>
            <input type="text" id="governorate" formControlName="OrganizationGovernment" class="form-control"
                   placeholder="Enter Organization governorate">
            <div
              *ngIf="OrganizationSignupForm.get('OrganizationGovernment').invalid && OrganizationSignupForm.get('OrganizationGovernment').touched"
              class="text-danger">
              Governorate is required
            </div>
          </div>
          <label for="firstName" style="color: #333; font-family: Arial, sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 1px; margin-top: 10px ;margin-bottom: 10px">Select your location</label>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d66665.40111264339!2d31.208614785558122!3d30.05769448150733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1715521467539!5m2!1sen!2seg"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          <app-file-upload></app-file-upload>
          <div class="form-group text-center">
            <button [disabled]="!isSignUpFormValid()" type="submit" class="btn btn-primary">Signup</button>
          </div>
          <a routerLink="../login" style="font-family: 'Harlow Solid Italic',serif">Back to login</a>
        </form>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="../../../assets/istockphoto-1063346420-612x612.jpg" alt="Your Photo" class="img-fluid rounded-circle"
             style="max-width: 300px; height: auto;">
      </div>
    </div>
  </div>
</section>
