<section class="notification-container" style="margin-top: 90px; margin-right: 65px;">
  <div class="main-content" >
    <div class="notification-scroll">
      <app-notification-details
        *ngFor="let notification of notifications; index as i"
        [notification]="notification"
        (remove)="removeNotification($event)"
        class="notification-item"
      ></app-notification-details>
    </div>
    <button *ngIf="notifications.length!=0" (click)="clearNotifications()" class="clear-button">Clear Notifications</button>
    <h1 style="text-align: center" *ngIf="notifications.length==0"> No Notifications </h1>
  </div>
</section>
