<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Organization Details</title>

</head>
<body>
<div class="container" id="container0" style="margin-top: 20px">
  <div class="card rounded">
    <h1 class="card-header">Organization Details</h1>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Name: </label>
            <p class="form-control-plaintext" id="orgName">{{Organization.name}}</p>
          </div>
          <div class="mb-3">
            <label class="form-label">Type:</label>
            <p class="form-control-plaintext" id="orgType">{{Organization.type}}</p>
          </div>
          <div class="mb-3">
            <label class="form-label">Address, Area, Government:</label>
            <p class="form-control-plaintext" id="orgAddressAreaGovernment">{{Organization.address}}, {{Organization.area}}, {{Organization.government}}</p>
          </div>
          <iframe
            [src]="OrganizationGoogelMarker"
            width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Organization Representative</div>
            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">Name:</label>
                <p class="form-control-plaintext" id="repName">{{Organization.OrganizationRepresentative.firstName}} {{Organization.OrganizationRepresentative.lastName}}</p>
              </div>
              <div class="mb-3">
                <label class="form-label">Gender:</label>
                <p class="form-control-plaintext" id="repGender">{{Organization.OrganizationRepresentative.gender}}</p>
              </div>
              <div class="mb-3">
                <label class="form-label">Email:</label>
                <p class="form-control-plaintext" id="repEmail">{{Organization.OrganizationRepresentative.email}}</p>
              </div>
              <div class="mb-3">
                <label class="form-label">Contact Number:</label>
                <p class="form-control-plaintext" id="repContactNumber">{{Organization.OrganizationRepresentative.contactNumber}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
