<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
  <div class="left-card">
    <div class="card" id="sched-setter">
      <div class="card-content">
        <h2>Add Time Slot</h2>
        <label for="datepicker">Date</label>
        <input type="date" id="datepicker" class="input-field">
        <label for="start-time">Start Time</label>
        <input type="time" id="start-time" class="input-field">
        <label for="end-time">End Time</label>
        <input type="time" id="end-time" class="input-field">
        <button class="placeholder-button" (click)="AddSlot()">Add Slot</button>
      </div>
    </div>
  </div>
  <div class="right-cards">
    <div class="card" *ngFor="let slot of timeSlots; let i = index">
      <div class="time-slot">
        <div class="slot-details">
          <p class="slot-date"><b>Date:</b> {{ slot.date }}</p>
          <p class="slot-time"><b>Start:</b> {{ slot.startTime }}</p>
          <p class="slot-time"><b>End:</b> {{ slot.endTime }}</p>
          <button class="remove-button" (click)="removeSlot(i)">Remove Slot</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

