<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
  <title>Untitled</title>
</head>

<body>
<main class="page contact-page">
  <section class="portfolio-block contact" style="background: #080808;color: rgb(255,255,255);">
    <div class="container">
      <div class="stars">
        <div class="central-body"><img class="image-404" src="imgs/404.svg" width="300px" alt=""/><a class="btn-go-home"
                                                                                                 target="_blank">back to login page</a></div>
        <div class="objects"><img class="object_rocket" src="imgs/rocket.svg" width="40px" alt=""/>
          <div class="earth-moon"><img class="object_earth" src="imgs/earth.svg" width="100px" alt=""/><img
            class="object_moon" src="imgs/moon.svg" width="80px" alt=""/></div>
          <div class="box_astronaut"><img class="object_astronaut" src="imgs/astronaut.svg" width="140px" alt=""/></div>
        </div>
        <div class="glowing_stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div>
      </div>
    </div>
  </section>
</main>
</body>

</html>

