#container0 {
  background-color: #fafafa;
  border-radius: 40px;
  padding: 0.5rem;
  margin-top: 3rem;
  text-align: center;
}

.button-row {
  margin-bottom: 10px;
}

.col-md-4 {
  margin-bottom: 10px;
}

.card {
  margin-bottom: 1rem;
  border-radius: 20px;
  background-color: #AFF0F2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

.card:hover {
  transform: scale(1.05); /* Increase the size of the card on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Add a larger shadow on hover */
  background-color: #E0F8F9; /* Change the background color on hover */
}

.search-container {
  margin-bottom: 1rem;
  max-width: 300px;
  margin-left: 470px;
}

.search-input {
  width: 100%;
}


.card-title {
  margin-bottom: 0.5rem;
}

.btn-primary {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-primary-view {
  color: #fff;
  background-color: #808080;
  border-color: #000000;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-primary-acc {
  color: #000000;
  background-color: #2eff00;
  border-color: #000000;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-primary-details {
  color: #ffffff;
  background-color: #0017ef;
  border-color: #000000;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-primary-view:hover {
  transform: scale(1.1); /* Increase the size of the button */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}
.btn-primary-acc:hover {
  transform: scale(1.1); /* Increase the size of the button */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}
.btn-primary-details:hover {
  transform: scale(1.1); /* Increase the size of the button */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}
.btn-primary:hover {
  transform: scale(1.1); /* Increase the size of the button */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}




.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}
#kk{
  margin-top: 20px;
  margin-left: 220px;
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}
#kk li{
  display: inline; /* Display list items inline */
  margin-right: 20px;
  font-size: 20px;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
