<div class="container" id="container0">

  <div class="row">
    <div class="col-md-4"
         *ngFor="let submissions of DonorSubmissions; let i = index">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ submissions.Donor.name }}</strong></h5>
          <p class="card-text"><b>Type:</b> {{ submissions.DonationItem.name }}</p>
          <p class="card-text"><b>Type:</b> {{ submissions.DonationItem.status }}</p>
          <p class="card-text"><b>Address:</b> {{ submissions.DonationItem.quantity }}</p>
          <!-- Add more details as needed -->
          <div class="column">
            <div class="button-row">
              <a (click)="acceptSubmission(i)" class="btn btn-primary-acc">Accept</a>
              <a (click)="rejectSubmission(i)" class="btn btn-primary">Reject</a>
            </div>
            <div class="button-row">
              <a (click)="ViewSubmission(i)" class="btn btn-primary-details">View details</a>
              <a (click)="generatePDF(i)" class="btn btn-primary-view">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
