<div class="container rounded-form">
  <div class="row ">
    <div class="align-items-md-start">
      <div class="requested-item-container">
        <a
          [routerLink]="['/requested-items','requested-item-details', currentRequestedItemId]"
          routerLinkActive="active"
          class="list-group-item clearfix"
          style="cursor: pointer;">
          <h2>{{currentRequestedItem.name}}</h2>
          <p class="text-muted">Category: {{currentRequestedItem.category}}</p>
          <h3 class="text-muted">Requested At: {{currentRequestedItem.date}}</h3>
          <p class="text-muted">User: {{currentRequestedItem.userName}}</p>
        </a>
      </div>
    </div>
  </div>
</div>
