<router-outlet></router-outlet>
<body>
    <header id="uu">
        <h1>Welcome {{userName}}</h1>
    </header>
    <div class="container" id="container0">
        <div class="card-body">
            <section class="Organizations" id="nn" >
                <header><p><b>Number Of Registered Organizations</b></p></header>
                <h1>21</h1>
            </section>
            <section class="donations" id="nn" >
                <header><p><b>Number Of Registered Donors</b></p></header>
                <h1>15</h1>
            </section>
            <section class="statistics" >
                <header>
                    <p><b>Statistics</b></p>
                <div class="statistic-item">
                    <p>Total Donations: 100</p>
                </div>
                <div class="statistic-item">
                    <p>Total Amount: $5000</p>
                </div>
                <div class="statistic-item">
                    <p>Top country contributing to donation: Egypt</p>
                
                </div>
            </header>
            </section>
        </div>
    </div>


</body>
