<section class="login-clean rounded-form">
  <div class="login-clean login-clean-wide text-center">
    <form>
      <input
        class="form-control  file-upload"
        style="background-color:#1c8674 ; boarder-radius: 40; color: #cff4fc;"
        type="file" (change)="onChange($event)">
      <button (click)="onUpload()" class="btn btn-primary">Upload</button>
    </form>
  </div>
  <div class="container text-center" *ngIf="shortLink">
    <h2>Visit Here</h2>
    <a href="{{shortLink}}">{{ shortLink }}</a>
  </div>
  <div class="container text-center" *ngIf="loading">
    <h3>Loading...</h3>
  </div>
</section>
