<script src="change-password.component.ts"></script>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-center" style="margin-top: 60px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="submitChange()" method="post">
        <div class="card-body px-5">
          <p class="card-text py-2">
            Enter your old password
          </p>
          <div data-mdb-input-init class="form-outline">
            <input type="password" id="typeEmail" formControlName="oldPassword" class="form-control my-3"/>
          </div>
          <p class="card-text py-2">
            Enter new password
          </p>
          <input type="password" formControlName="newPassword" class="form-control my-3"/>
        </div>
          <span *ngIf="!changePasswordForm.get('oldPassword').valid && changePasswordForm.get('oldPassword').touched && !isMatching()" class="help-block"
                style="color: red; align-content: center">the old password is not correct</span>
          <a  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Reset password</a>
        </form>

      </div>
    </div>
  </div>
</div>
