<div class="card-container">
  <section class="personal-info">
    <img src="assets/DonorAvatar.jpg" alt="" id="profile-pic" height="480" width="480"/>

  </section>
  <section class="quick-access">
    <h1>Quick Access</h1>
    <section class="quick-container">
      <a routerLink="/requested-items">
        <div class="card">
          <h3>Requested Items</h3>
        </div>
      </a>
      <a routerLink="/Organizations/Registered">
        <div class="card">
          <h3>Organizations</h3>
        </div>
      </a>
      <a routerLink="/manage-account">
        <div class="card">
          <h3>Manage Account</h3>
        </div>
      </a>


    </section>
  </section>

</div>
